In [1]:
import numpy as np
import pandas as pd
from apyori import apriori

In [2]:
store_data = pd.read_excel('E:\KULIAH\Semester 6\DATA MINING\data.xls')

In [3]:
store_data.head()

   Wine  Chips  Bread  Butter  Milk  Apple
0  Wine    NaN  Bread  Butter  Milk    NaN
1   NaN    NaN  Bread  Butter  Milk    NaN
2   NaN  Chips    NaN     NaN   NaN  Apple
3  Wine  Chips  Bread  Butter  Milk  Apple
4  Wine  Chips    NaN     NaN  Milk    NaN

In [4]:
store_data.tail()

    Wine  Chips  Bread  Butter  Milk  Apple
45   NaN  Chips    NaN  Butter  Milk  Apple
46  Wine  Chips  Bread  Butter  Milk  Apple
47  Wine    NaN  Bread  Butter  Milk  Apple
48  Wine  Chips  Bread     NaN  Milk  Apple
49   NaN  Chips    NaN     NaN   NaN    NaN

In [5]:
store_data.shape

(50, 6)

In [6]:
records = []
for i in range(0, 50):
    records.append([str(store_data.values[i,j])for j in range(0,6)])

In [7]:
association_rules = apriori(records, min_support=0.5, min_confidence=0.5, min_lift=1.3)
association_results = list(association_rules)

In [17]:
print(len(association_results))

15

In [9]:
print(association_results[0])

RelationRecord(items=frozenset({'Wine', 'Bread', 'Apple'}), support=0.58, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Bread'}), items_add=frozenset({'Wine', 'Apple'}), confidence=0.7435897435897435, lift=1.2393162393162391), OrderedStatistic(items_base=frozenset({'Wine', 'Apple'}), items_add=frozenset({'Bread'}), confidence=0.9666666666666667, lift=1.2393162393162394)])

In [10]:
results =[]
for item in association_results:
    pair = item[0]
    items = [x for x in pair]
    
    value0 = str(items[0])
    value1 = str(items[1])
    value2 = str(item[1])[:6]
    value3 = str(item[2][0][2])[:6]
    value4 = str(item[2][0][3])[:6]

In [11]:
rows = (value0,value1,value2,value3,value4)

In [12]:
results.append(rows)

In [13]:
label = ['title1', 'title2', 'support', 'confidence','lift']

In [14]:
store_suggestion = pd.DataFrame.from_records(results,columns=label)

In [15]:
print(store_suggestion)

   title1 title2 support confidence    lift
0  Butter  Bread    0.22     0.2820  1.2820

In [16]:
store_suggestion.describe()

        title1 title2 support confidence    lift
count        1      1       1          1       1
unique       1      1       1          1       1
top     Butter  Bread    0.22     0.2820  1.2820
freq         1      1       1          1       1

In [ ]:
store_suggestion.to_excel('E:\KULIAH\Semester 6\DATA MINING\data_output.xlsx')